body {
  line-height: 1.6;
}
#content_terms_and_conditions {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

h1 {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: var(--color-secondary);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p,
a {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

a:hover {
  color: var(--color-secondary);
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p,
  a {
    font-size: 0.95rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 1.2rem;
  }
}
