#wrapper_login_page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  flex-direction: column;
  gap: 50px;
}

#wrapper_logo {
  margin-left: 20%;
  margin-right: 20%;
}

#wrapper_logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.loginformular {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 30px;
  margin-left: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 900px;
}

.loginformular select {
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.loginformular h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.loginformular input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.register_button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 40%;
  text-decoration: none;
}

.loginformular input::placeholder {
  color: var(--color-text-secondary);
}
.register_button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register_button:hover {
  background-color: var(--color-secondary);
}

#contact_page_right h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--color-primary);
}

@media (max-width: 768px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #wrapper_login_page {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .loginformular {
    width: 100%;
    margin-left: 0;
  }

  .loginformular {
    margin-bottom: 30px;
  }
}
@media (max-width: 460px) {
  .loginformular h2 {
    font-size: 2rem;
  }
}
@media (max-width: 330px) {
  .loginformular h2 {
    font-size: 1.5rem;
  }
}
